.school-information-form-group {
	margin-bottom: 16px;
}
.school-information-form-group .help-block {
	margin-bottom: 4px;
}

.school-information-form-input {
	margin-bottom: 8px;
}
.school-information-form-location-input {
	margin-bottom: 16px;
}
