.school-information-footer-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.school-information-footer {
    display: flex;
}

.school-information-footer-school-badge {
    margin-right: 10px;
}


.school-information-footer-school-name{
    font-size: 1.2em;
}

.school-information-footer-sub-items {
    font-size: small;
}


.school-information-footer .school-information-label:after {
    content: ":";
}

.school-information-footer-sub-items span.school-information-record-item {
    margin-right: 5px;
}
