.school-information-footer-wrap {
    display: flex;
    justify-content: center;;
}

.school-information-footer {
    display: flex;
}

.school-information-footer-school-badge {
    margin-right: 10px;
}


.school-information-footer-school-name{
    font-size: 1.2em;
}

.school-information-footer-sub-items {
    font-size: small;
}


