.school-information-header {
    display:flex;
    align-items: center;
}

.school-information-header .school-information-header-school-badge {
    margin-right: 5px;
}
h1.school-information-header-title {
    margin: 0;
}

.school-information-header-title rt{
    font-size: 12px;
}
.school-information-header-title .school-information-school-name-roma {
    font-size:12px;
}
