.school-information-center .school-information-table th{
    width:160px;
}

.school-information-center-title {
    display:flex;
}
.school-information-center-title .school-information-school-name-kana {
    font-size: 14px;
	/*line-height: 28px;*/
}

.school-information-center ruby {
	/*ruby-align: center;*/
}

.school-information-center-title .school-information-school-badge {
    margin-right: 8px;
}
.school-information-center rt{
    font-size: 10px;
}
.school-information-center .school-information-school-name-roma {
    font-size:12px;
}
.school-information-center .school-information-school-name-roma:before{
    display: block;
}
.school-information-center .school-information-postal-code{
    display: block;
}