
.school-information-side-image {
    text-align: center;
    margin-bottom: 10px;
}
.school-information-side-school-name {
    font-size: large;
}

.school-information-side .school-information-label:after {
    content: ":";
}
