.school_information_footer_school_name{
    font-size: 2em;
}
.school_information_side_image {
    text-align: center;
    margin-bottom: 10px;
}
.school_information_side_school_name {
    font-size: large;
}